button {
    width: 250px;
    background-color: #5a6785;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px 10px;
    transition: all .35s;
    float: right;
    margin-bottom: 10px;
}

button:hover {
    background-color: #7a8aad;
    color: white;
    cursor: pointer;
}

.butn {
    background-color: #424b5f;
    width: 150px;
     margin-bottom: 0;  /*위쪽에 모든 버튼 margin-bottom 10px써서 0으로 해줘야됨 */
     float: none; /*상단 button에 float:right 적용되있어서 안먹힘 none적용해야함 */
}


