html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.faq_container {
    border: 0px solid black;
    margin-bottom: -15px;
}

.faq_title {

}

.faq_answer {
    /* padding-left: 15px;
    display: none; */
    /* ---------faq_answer div박스 내용 숨기는 2가지 방법 위,아래---------------- */
    /* height: 0;
    overflow: hidden; */
}

#btn_all_close {

}

#btn_all_close:hover {

}
/* faq_answer의 div박스 숨김/표시 기능 위해서active 사용 */
.active {

}

h1 {
    text-align: center;
    padding-top: 50px;
}

.text-muted {
    font-size: 18px;
}

.info {
    text-align: left;
    width: 60%;
}

